*{
    box-sizing: border-box;
    font-family: Georgia, serif;
}
body{
    background-color: rgb(56, 53, 53);
}
h1{
    color: white;
    margin-left: 50%;
}
h2{
    color:#00283b ;
    font-weight: bold;
}
.profile{
    border-radius: 50%;
    width: 50%;
    margin-left: 20%;
    margin-top: 25%;
    border-style: solid;
    border-color:#004e6c ;
}
.card {
    width: 65%;
    border-radius: 20px;
    margin-left: 18.5%;
}
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 410px;
    background-color:#00283b;
}
.column2 {
    float: left;
    width: 70%;
    padding: 10px;
    height: 410px;
    border-color:white;
    background-color:white;
}
.column3  {
    float: left;
    width: 30%;
    height: 710px;
    padding: 10px;
    background-color: #004e6c;
    margin-bottom: 10%;
}
.column4 {
    float: left;
    width: 70%;
    height: 100%;
    background-color:white;
    margin-bottom: 10%;

}
.topic{
    margin-left: 5%;
}
.circle-icon {
    background:#00283b;
    padding:10px;
    border-radius: 50%;
    color: white;
}
.topic1{
    margin-left: 10%;
    margin-right: 2%;
}
.topic3{
    margin-left: 10%;
    margin-right: 2%;
}
.sub-topic{
    margin-left: 15%;
    margin-right: 2%;
}
.content{
    margin-left: 20%;
    margin-right: 2%;
}
.text-color{
    margin-left: 25%;
    color: aliceblue;
}
.text-color1{
    margin-left: 2%;
    color: aliceblue;
}
.text-color2{
    margin-left: 25%;
    color:aliceblue;
}
.text-color3{
    margin-left: 5%;
    color:aliceblue;
}