div{
    text-align: right;
}
p{
    background-color: green;
    color: firebrick;
    font-size: 25px;
    text-align: center;
}
p{
    display: inline;
    background-color: blue;
    color: firebrick;
    font-size: 25px;
    text-align: right;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
