p :nth-child(1n+1)
{
    color: cyan;
    font-size: larger;
}
P:nth-child(even)
{
    color: orange;
    font-size: larger;
}
p:first-child{
    color: red;
    font-size: larger;
}
p:last-child{
    color: blue;
    font-size: larger;
}
