html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.articles {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 1.6rem;
  margin: 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 5px 25px 10px rgb(216, 216, 216);
}
.article--grodan {
  position: relative;
  grid-area: 1 / 1 / 2 / 3;
  background-color: hsl(263, 55%, 52%);
}
.article--macro {
  grid-area: 1 / 3 / 2 / 4;
  background-color: hsl(217, 19%, 35%);
}
.article--jason {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(0, 0%, 100%);
}
.article--heston {
  grid-area: 2 / 2 / 3 / 4;
  background-color: hsl(219, 29%, 14%);
}
.article--robert {
  grid-area: 1 / 4 / 3 / 5;
  background-color: hsl(0, 0%, 100%);
}
.article--grodan,
.article--macro,
.article--heston {
  color: hsl(0, 0%, 81%);
}
.article--jason,
.article--robert {
  color: hsl(217, 19%, 35%);
}
.article--grodan__quotes {
  position: absolute;
  padding-top: 0;
  font-size: 18rem;
  top: 0;
  left: 23rem;
  opacity: 0.4;
}
.articles__names-verified {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.articles__pictures-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.articles__photo {
  box-sizing: content-box;
  max-width: 34px;
  border-radius: 50%;
}
.article--grodan .articles__photo,
.article--heston .articles__photo {
  border: 0.15rem solid hsl(266, 63%, 61%);
}
.articles__titles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  font-size: 0.8rem;
}
.articles__names {
  margin-top: 0;
  margin-bottom: 0;
}
.articles__verified {
  opacity: 0.5;
  margin-top: 0;
  font-size: 0.8rem;
}
.articles__p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.articles__quotes {
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.13rem;
}
.attribution {
  margin-top: 4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}
a {
  color: rgb(107, 151, 153);
}
body {
  max-width: 1440px;
  background-color: hsl(0, 0%, 100%);
  padding-left: 6rem;
  padding-right: 6rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 900px) {
  body {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
