@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin-top: 0;
  margin-left: 0;
}
body {
  box-sizing: border-box;
  background-color: hsl(270, 20%, 96%);
  display: block;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.parent {
  display: grid;
  position: relative;
}
.round-box {
  height: 100%;
  margin-left: -60%;
  width: 240%;
}
.container {
  display: flex;
  gap: 13vh;
  justify-content: space-around;
  margin-top: 15vh;
  z-index: 1;
}

.right {
  align-self: center;
  padding-right: 1.5vw;
}
.header {
  color: hsl(271, 36%, 24%);
}
.text {
  color: hsl(270, 7%, 64%);
}
.phones-parent {
  margin-left: 9%;
}
.phone {
  border: 10px solid white;
  background-color: white;
  border-radius: 40px;
  column-gap: 3px;
  display: grid;
  font-size: 0.7rem;
  grid-template-rows: repeat(10, 45px);
  grid-template-columns: repeat(12, 21px);
  justify-content: center;
  justify-content: space-around;
  row-gap: 10px;
  position: relative;
}
.name {
  align-items: center;
  border-radius: 33px 33px 5px 5px;
  background: rgb(136, 56, 255);
  display: flex;
  height: 45px;
  justify-content: space-around;
  padding-top: 15px;
}
.whitebox {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  height: 20px;
  position: absolute;
  right: 51px;
  width: 170px;
}
.top-text {
  color: black;
  left: 68px;
  position: absolute;
}
.top-svg {
  color: white;
  left: 11px;
  position: absolute;
}
.top-image {
  height: 23px;
  left: 29px;
  position: absolute;
  top: 22px;
  width: 23px;
}
.chat-face {
  border: 2px solid white;
  height: 100%;
  width: 100%;
}
.text-name {
  font-weight: bold;
}
.text-available {
  font-size: x-small;
}
.menubutton {
  color: white;
  position: absolute;
  right: 17px;
}
.first-text {
  align-items: center;
  background-color: rgb(237, 228, 245);
  border-radius: 10px 10px 10px 4px;
  color: hsl(276, 55%, 52%);
  display: flex;
  grid-column: 1 / 8;
  margin-left: 10px;
  margin-top: 15px;
  margin: 10px 0 -4px 10px;
  padding-left: 5px;
}
.second-text {
  align-items: center;
  border-radius: 10px 10px 10px 4px;
  background-color: rgb(237, 228, 245);
  border-radius: 13px;
  color: hsl(276, 55%, 52%);
  display: flex;
  grid-column: 1 / 8;
  margin-left: 10px;
  padding-left: 5px;
}
.dog-images {
  border-radius: 13px;
  display: flex;
  grid-column: 5 / 13;
  grid-row: 4 /5;
  justify-content: space-evenly;
  margin-right: 12px;
}
img {
  border-radius: 13px;
}
.third-text {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 4px 10px;
  display: flex;
  grid-column: 5 / 13;
  justify-content: flex-end;
  margin-right: 10px;
  padding-right: 12px;
  padding-left: 12px;
}
.fourth-text {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 4px 10px;
  display: flex;
  grid-column: 7 / 13;
  justify-content: flex-end;
  margin-right: 10px;
  padding-right: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.fifth-text {
  align-items: center;
  border-radius: 10px 10px 10px 4px;
  background-color: rgb(237, 228, 245);
  color: hsl(276, 55%, 52%);
  display: flex;
  grid-column: 1 / 9;
  padding-left: 12px;
  margin-left: 10px;
}
.walk-text {
  align-items: center;
  background: rgb(244, 141, 236);
  background: linear-gradient(
    90deg,
    rgba(233, 66, 255, 1) 20%,
    rgba(136, 56, 255, 1) 92%
  );
  border-radius: 10px 10px 10px 3px;
  color: white;
  display: flex;
  grid-column: 1 / 10;
  margin-left: 10px;
}
.walk-text div {
  margin-left: 5px;
}
.walk-text2 {
  align-items: center;
  background: rgb(244, 141, 236);
  background: linear-gradient(
    90deg,
    rgba(233, 66, 255, 1) 20%,
    rgba(136, 56, 255, 1) 92%
  );
  border-radius: 10px 10px 10px 3px;
  color: white;
  display: flex;
  grid-column: 1 / 10;
  margin-left: 10px;
}
.walk-text2 div {
  margin-left: 5px;
}
input[type="radio"] {
  appearance: none;
  border: 0.15em dotted currentColor;
  border-radius: 50%;
  color: currentColor;
  height: 1.7em;
  font: inherit;
  margin-left: 8px;
  margin: 0;
  transform: translateY(-0.075em);
  width: 1.7em;
  -webkit-appearance: none;
}

.type-text {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  color: hsl(270, 7%, 64%);
  display: flex;
  grid-column: 1 / 13;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
}
.price1 {
  font-size: 1.5em;
  font-weight: 800;
  margin-left: 40px;
}
.price2 {
  font-size: 1.5em;
  font-weight: 800;
  margin-left: 66px;
}
.submit {
  background-color: hsl(271, 36%, 24%);
  border-radius: 20px;
  height: 30px;
  margin-left: 130px;
  width: 30px;
}
.bi-chevron-right {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 15px;
}
