:root {
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-grayish-blue: hsl(229, 7%, 55%);
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-very-dark-blue: hsl(229, 57%, 11%);

  --primary-gradient-1: hsl(6, 100%, 80%);
  --primary-gradient-2: hsl(335, 100%, 65%);
  }
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
  }
body {
    font-size: 14px;
  }
.flex {
    display: flex;
  }
.align-center {
    align-items: center;
  }
.align-end {
    align-items: flex-end;
  }
.justify-center {
    justify-content: center;
  }
.space-between {
    justify-content: space-between;
  }
.storage-value {
    color: var(--neutral-pale-blue);
    font-weight: 700;
  }
.left-storage {
    background-color: #fff;
    border-radius: 0.6em 0.6em 0 0.6em;
    padding: 1.2em;
    position: absolute;
    right: 3em;
    top: -2.5em;
  }
.left-storage::after {
    border-left: 30px solid transparent;
    border-top: 30px solid #fff;
    bottom: -1.2em;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
  }
.left-storage span {
    color: #141414;
    font-size: 1.3rem;
    font-weight: 700;
  }
.left-storage p {
    color: var(--neutral-grayish-blue);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
  }
.landing {
    background-color: var(--neutral-very-dark-blue);
    min-height: 100vh;
    position: relative;
    z-index: 2;
  }
.container > div:first-child {
    background-color: var(--neutral-dark-blue);
    border-radius: 1em 5em 1em 1em;
    margin: 2em;
    padding: 2em 6em 2em 2em;
  }
.container > div:first-child > img {
    margin-bottom: 1em;
  }
.options div {
    background-color: var(--neutral-very-dark-blue);
    border-radius: 0.8em;
    margin-right: 1em;
    padding: 1em;
  }
.options div img {
    height: 25px;
    object-fit: contain;
    width: 25px;
  }
.container > div:nth-child(2) {
    background-color: var(--neutral-dark-blue);
    border-radius: 1em;
    margin: 2em 0;
    min-width: 500px;
    padding: 1.5em 3em;
    position: relative;
  }
.container > div:nth-child(2) > p {
    color: var(--neutral-grayish-blue);
    margin-bottom: 1em;
  }
.progress-bar {
    background-color: var(--neutral-very-dark-blue);
    border-radius: 1em;
    height: 20px;
    margin-bottom: 0.5em;
    padding: 0.5em 0.1em;
    width: 100%;
  }
.progress {
    background: (linear-gradient); (
    border-radius: 1em;
    height: 16px;
    position: relative;
    width: 80%;
    to right,
    var(--primary-gradient-1),
    var(--primary-gradient-2)
  );
  }
.progress::after {
    background-color: var(--neutral-pale-blue);
    border-radius: 50%;
    content: "";
    height: 12px;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
  }
.landing-bg {
    bottom: 0;
    height: 50vh;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
.attribution {
    bottom: 0;
    color: var(--neutral-pale-blue);
    font-size: 1rem;
    margin: 3em;
    position: absolute;
    text-align: center;
  }
.attribution a {
    color: var(--primary-gradient-1);
    text-decoration: none;
  }
@media (max-width: 850px) {
    div:first-child {
      flex: 1 1 100%;
      margin: 2em 0;
      width: 100%;
    }
    div:nth-child(2) {
      flex: 1 1 100%;
      margin: 2em 0;
      min-width: unset;
      width: 100%;
    }
    left-storage::after {
      display: none;
    }

  .landing {
      background: url("../fylo-data-storage-component-master/images/bg-mobile.png");
      flex-direction: column;
      no-repeat : center/cover;
    }
  .left-storage {
      border-bottom-right-radius: 0.6em;
      bottom: -3em;
      right: 50%;
      top: unset;
      transform: translateX(50%);
      white-space: nowrap;
    }
  .landing.container {
      flex-direction: column;
      width: 90%;
    }
  .container > 
  .container > 
  .landing-bg {
      display: none;
    }
  .attribution {
      position: relative;
    }
  }
