@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-weight: 500;
  src: url("../images/RedHatDisplay-Medium.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-weight: 900;
  src: url("../images/RedHatDisplay-Black.ttf");
}
* {
  border: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-size: 100%;
  letter-spacing: 0px;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background-color: #fafafa;
}
/*Header*/
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.logo {
  height: 28px;
  margin: 48px 0 54px;
  width: 119px;
}
.hero-tablet {
  height: 153px;
  width: 414px;
}
.header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 48px 24px;
}
h1 {
  color: #28283d;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 24px;
}
header p {
  color: #87879d;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
}
button {
  border-radius: 29px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  height: 58px;
  transition: all 0.3s ease-in-out;
}
header button {
  margin-bottom: 16px;
}
.btn-download {
  background-color: #4d96a9;
  width: 193px;
}
.btn-download:hover,
.btn-download:focus-visible {
  background-color: #71c0d4;
}
.btn-download span {
  color: #8fe3f9;
}
.btn-what {
  background-color: #855fb1;
  width: 139px;
}
.btn-what:hover,
.btn-what:focus-visible,
footer button:hover,
footer button:focus-visible {
  background-color: #b18bdd;
}
/*Article*/
.number-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.number-line {
  background-color: rgba(135, 135, 157, 0.25);
  height: 84px;
  width: 1px;
}
.number-circle {
  align-items: center;
  background-color: #fafafa;
  border-radius: 29px;
  border: rgba(135, 135, 157, 0.25) 1px solid;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;
}
.number {
  color: #87879d;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
}
article .img-container {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  justify-content: space-between;
  margin: 64px auto;
  width: 327px;
}
article .img-container img {
  border-radius: 8px;
  height: 143px;
  width: 151px;
}
article .content {
  margin: 64px auto;
  text-align: center;
  width: 327px;
}
.overline {
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px !important;
  line-height: 26px;
  text-transform: uppercase;
}
article h2 {
  color: #28283d;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  margin: 24px 0 32px;
}
article .info {
  color: #87879d;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.no-wrap {
  white-space: nowrap;
}
/*Footer*/
footer {
  margin: auto;
  max-height: 540px;
  overflow: hidden;
  position: relative;
}
footer .img-container {
  background-color: #4d96a9;
  left: 0;
  position: absolute;
  top: 112px;
}
footer img {
  opacity: 0.1;
  width: 100%;
}
.footer-img-tablet {
  height: 428px;
  width: 768px;
}
footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px 24px 72px;
  position: relative;
  text-align: center;
  z-index: 1;
}
footer h2 {
  color: #fafafa;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
}
footer .info {
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 24px 0 32px;
}
footer button {
  background-color: #855fb1;
  height: 58px;
  width: 193px;
}
footer button span {
  color: #d9b8ff;
}
@media only screen and (max-width: 767px) {
  .footer-img-tablet {
    display: none;
  }
  .hero-desktop {
    display: none;
  }
  header p {
    width: 327px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  /*Header*/
  .logo {
    margin: 48px 0 64px;
  }
  .hero-desktop {
    display: none;
  }
  .hero-tablet {
    height: 303px;
    width: 820px;
  }
  .header-content {
    margin: 72px 155px 80px 156px;
    width: 457px;
  }
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  header button {
    margin-bottom: 0;
  }
  .btn-download {
    margin-right: 16px;
  }
  /*Article*/
  article .img-container {
    height: 156px;
    margin: 67px auto 48px;
    width: 689px;
  }
  article .img-container img {
    height: 156;
    width: 164;
  }
  article .content {
    margin: 48px auto 80px;
    width: 563px;
  }
  article h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 16px auto 32px;
    width: 445px;
  }
  /*Footer*/
  footer {
    width: 769px;
  }
  .footer-img-mobile {
    display: none;
  }
  .footer-img-desktop {
    display: none;
  }
  footer .content {
    margin: 64px 98px 66px;
  }
  footer h2 {
    font-size: 40px;
    line-height: 44px;
    width: 457px;
  }
  footer .info {
    margin: 32px 0 40px;
  }
}
@media only screen and (min-width: 1440px) {
  /*Header*/
  .logo {
    margin: 80px 0 61px;
  }
  .hero-tablet {
    display: none;
  }
  .header-container-desktop {
    display: flex;
    height: 358px;
    justify-content: center;
    margin-bottom: 110px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  .hero-desktop {
    position: absolute;
    width: 394px;
  }
  .hero-desktop-left {
    left: -32px;
    top: 0;
  }
  .hero-desktop-right {
    bottom: 0px;
    right: -32px;
  }
  .header-content {
    height: 304px;
    margin: 47px 0 0;
    width: 540px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 34px;
  }
  header p {
    font-size: 18px;
  }
  .btn-download {
    margin-right: 16px;
  }
  /*Article*/
  article .img-container {
    height: 242px;
    margin: 64px auto 80px;
    width: 1110px;
  }
  article .img-container img {
    height: 242px;
    min-width: 255px;
  }
  article .content {
    margin: 80px auto 72px;
    width: 540px;
  }
  article h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 16px auto 32px;
    width: 445px;
  }
  article .info {
    font-size: 18px;
    line-height: 26px;
  }
  /*Footer*/
  footer {
    width: 1440px;
  }
  .footer-img-mobile,
  .footer-img-tablet {
    display: none;
  }
  footer .content {
    align-items: center;
    justify-content: space-between;
    margin: 88px auto 104px;
    width: 1110px;
  }
  footer h2,
  footer .info {
    text-align: start;
  }
  footer h2 {
    font-size: 40px;
    line-height: 44px;
    width: 350px;
  }
  footer .info {
    margin: 0 92px 0 125px;
    width: 350px;
  }
}
