:root {
  --clr-cyan: hsl(185, 75%, 39%);
  --clr-heading: hsl(229, 23%, 23%);
  --clr-text-darker: hsl(227, 10%, 46%);
  --clr-text: hsl(0, 0%, 59%);
  --fw-accent: 700;
  --fw-primary: 400;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Kumbh Sans", sans-serif;
}
.card-container {
  background-color: var(--clr-cyan);
  background-image: url(../images/bg-pattern-top.svg);
  background-position: right 52vw bottom 25vh, left 46vw top 52vh;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100vh;
  place-items: center;
  z-index: 1;
  background-image: url(../images/bg-pattern-bottom.svg);
}
.card {
  background-color: white;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  border-radius: 1rem;
  box-shadow: 0 0 15px -10px var(--clr-heading);
  display: grid;
  max-width: 23.438rem;
  place-items: center;
  z-index: 10;
}
.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 2rem 0;
  text-align: center;
}
.card-image {
  align-self: center;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100%;
  display: block;
  margin-top: 1rem;
  outline: 5px solid white;
  width: 65%;
}
.card-name-age-split {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 100%;
  justify-content: space-between;
  padding: 1.2rem 0 0.5rem 0;
}
.card-name {
  color: hsl(229, 23%, 23%);
  font-size: 1.2rem;
  font-weight: var(--fw-accent);
}
.card-age {
  color: var(--clr-text-darker);
  font-size: 1.2rem;
}
.card-location {
  color: var(--clr-text-darker);
}
.card-split {
  border-top: 1.5px solid hsl(0, 0%, 59%, 0.2);
  display: flex;
  gap: 2.5rem;
  justify-content: space-around;
  padding-inline: 3rem;
  width: 100%;
}
.card-split-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 1.5rem;
}
.card-split-stats {
  color: var(--clr-heading);
  font-size: 1.2rem;
  font-weight: var(--fw-accent);
  padding-bottom: 0.3rem;
}
.card-split-stats-description {
  color: var(--clr-text);
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}
